.container-main {
  border-radius: 10px;
  margin-top: 6rem;
  width: 20rem;
  min-height: 15rem;
  height: auto;
  box-shadow: 0 1rem 2rem dimgrey;

}
.container-main:hover{
  background: linear-gradient(var(--blue), var(--white));
}

.text-sub {
  justify-content: center;
  text-align: center;
  font-size: x-large;
  font-family: Arial;

}
.check{
  padding: 0.5rem;
}
