.container-main {
  border-radius: 10px;
  margin-top: 6rem;
  width: 20rem;
  height: 25rem;
  box-shadow: 0 1rem 2rem dimgrey;
  background-color: white;
}

.text-sub {
  text-align: center;
  font-size: x-large;
}
