.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 18%;
  gap: 50px;
}
