.training-card{
  max-width: 70%;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  justify-content: center;
}
.price-font{
  color: black;
  font-family: Arial;
  padding-top: 1rem;
}
.price-description{
  color: black;
  font-family: Arial;
  padding-top: 1rem;
}
