.category {
  width: 15rem;
}

.card-category {
  width: 14rem;
  height: 13rem;
  border-radius: 2em;
  padding-top: 4em;
  text-align: center;
  justify-content: center;
  box-shadow: 0rem 1rem 2rem dimgrey;

}
.card-category:hover{
  background: linear-gradient(var(--blue), var(--white));
  cursor: pointer;
}


.card-font {
  font-size: xx-large;
  text-align: center;
  color: dimgrey;

}

.categories-container {
  margin-top: 8em;
}

