.training-list{
  border-radius: 10px;
  margin-top: 3rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: center;
  background-color: rgb(246, 246, 246, 10%);
  padding: 1rem;

}
.form-email{
  border-radius: 10px;
  max-width: 30%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: auto;
  text-align: center;
  width: 50%;

}
.input{
  border-radius: 8px;
  text-align: center;
}
.submit{
  max-width: 10rem;
}
.centerButton{
  margin: auto;
  text-align: center;
  border-radius: 10%;
}
