<div class="training-list">
  <app-training-card *ngFor="let training of trainings|async "
                     [training]=training>
  </app-training-card>
</div>
<form class="form-email">
  <input class="input" [formControl]="email" placeholder="Wpisz adres email">
  <div class="form-group">
    <div *ngIf="hasEmailValidateError()" class="error">Wpisz poprawny adres email</div>
  </div>
  <button *ngIf="email.valid && email.dirty" (click)="onSubmit()" class="submit btn-primary centerButton">Wyślij ofertę</button>
  <button *ngIf="!email.valid" class="submit btn-secondary centerButton">Wyślij ofertę</button>
</form>
