<div class="training-list">
  <app-training-card *ngFor="let training of trainings|async "
                     [training]=training>
  </app-training-card>
</div>
<form class="form-email">
  <input class="input" [formControl]="email" placeholder="Type email">
  <div class="form-group">
    <div *ngIf="hasEmailValidateError()" class="error">Type correct email</div>
  </div>
  <button *ngIf="email.valid && email.dirty" (click)="onSubmit()" class="submit btn-primary">Send Offer</button>
  <button *ngIf="!email.valid" class="submit btn-secondary">Send Offer</button>
</form>
