.end-Page{
  color: var(--white);
  font-family: "Arial Black";
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
}
.end-page-sf{
  color: var(--white);
  font-family: "Arial Black";
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
}
