.text-allign{
  text-align: center;

}
.description{
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-family: Arial;

}
.form-check form-switch{

}
.alert{
  margin-right: 2.5rem;
  opacity: 80%;
  background-color: rgb(246, 246, 246, 30%);
  margin-top: 1rem;
}
.btn-outline-secondary{
  justify-content: center;
  text-align: center;
  font-size: medium;
  position: relative;
  padding: 0.1rem;
  float: right;
  margin-left: -50%;
  margin-right: 1rem;





}
