.text-allign{
  text-align: center;

}
.description{
  justify-content: center;
  text-align: center;
  font-size: medium;
  font-family: Arial;

}
.form-check form-switch{

}
.alert{
  margin-right: 2.5rem;
  opacity: 80%;
  background-color: rgb(246, 246, 246, 30%);
}
