.navbar-expand-lg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

.nav-link:hover {
  cursor: pointer;
}

.inqoo-logo {
  max-height: 5vh;
  cursor: pointer;
}

.paddington {
  font-family: Arial;
  font-size: xx-large;
}
