.navbar-expand-lg {
  position: fixed;
  width: 100%;
  padding: 8px 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: black;
}

.nav-link:hover {
  cursor: pointer;
}

.inqoo-logo {
  max-height: 5vh;
  cursor: pointer;
}

.paddington {
  flex-wrap: wrap;
  font-family: "Arial";
  font-weight: bold;
  font-size: xx-large;
}

.bi bi-facebook {
  color: var(--deepblue);
}
