.navbar-expand-lg {
  position: fixed;
  width: 100%;
  padding: 8px 100px;
  justify-content: space-between;
  align-items: center;
  box-shadow: black;
}

.nav-link:hover {
  cursor: pointer;
}

.inqoo-logo {
  display: flex;
  max-height: 5vh;
  cursor: pointer;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(400%) contrast(100%);
}

.paddington {
  flex-wrap: wrap;
  font-family: "Arial";
  font-weight: bold;
  font-size: xx-large;
}

.font_color{
  color: white;
}

.bi bi-facebook {
  color: blue;
}
.socialMedia{
  position: center;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
div#bi-facebook{
  float: left;
  padding-left: 2rem;
}
div#bi-instagram{
  float: left;
  padding-left: 2rem;
}
div#bi-linkedin{
  float: left;
  padding-left: 2rem;
}
div#bi-youtube{
  float: left;
  padding-left: 2rem;
}
.socialMedia{
}
.bi{
  -webkit-filter: grayscale(70%);
}
.bi:hover{
  -webkit-filter: brightness(100%);
}

