body::-webkit-scrollbar {
  display: none;
  color: crimson;
}

:root {
  --deepblue: #2b1055;
  --blue: #7597de;
  --white: #f8fbff;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(var(--deepblue), var(--white));

}
