body::-webkit-scrollbar {
  display: none;
  color: crimson;
}

:root {
  --deepblue: #2b1055;
  --blue: #7597de;
  --white: #f8fbff;
  --lightblue: #349cf1;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url("src/assets/images/stars.png"),
  linear-gradient(var(--deepblue), var(--bs-green)) no-repeat

}

